---
import ProductCard from "./Cards/ProductCard";
import SectionLayout from "../layouts/SectionLayout.astro";
import t_pump from "../../images/T_Pump.jpg";
import d_pump from "../../images/D_pump.png";
import n_pump from "../../images/N_pump.png";
import spx_pump from "../../images/SPX_pump.png";
import sct1_pump from "../../images/SCT_1_pump.png";
import sct2_pump from "../../images/SCT_2_pump.jpg";
---

<SectionLayout title="product" header="產品類別">
    <div
        class="flex flex-col justify-center items-center md:grid md:grid-cols-2 md:gap-4 my-4 justify-items-center"
    >
        <ProductCard
            img={t_pump}
            title="N 標準型"
            body="幾乎適用於所有行業，用來輸送各種粘度範圍及不同含固率的介質。"
            specs={["流量範圍 : 30 L/H ~ 500 M3/H", "最大持壓 : 48 bar"]}
            features={[
                "各種規格的轉子/定子(傳統型，6L長導型，Tricam截面三角型)",
                "低脈衝，流量均勻",
                "自吸能力強，即使介質是氣，液混合相，自吸能力也可達9米水柱",
                "具有多種安裝方式",
                "可通過大粒徑固體",
                "泵的輸送方向可逆轉",
            ]}
            client:load
        />
        <ProductCard
            img={d_pump}
            title="D 計量型"
            body="低脈衝且配合相關控制設定精確度可達±1%，廣泛用於粘度範圍從低到高，不同含固率以及腐蝕性介質的計量輸送。"
            specs={["流量範圍 : 20L/H ~ 1,000 L/H", "最大持壓 : 24 bar"]}
            features={[
                "模組化設計，零件更換方便",
                "高精度計量(誤差範圍±1%)",
                "插入式連接，維護便利",
                "材質可依客戶需求設定，適用所有輸送介質",
                "可提供多種驅動控制組合",
            ]}
            client:load
        />
        <ProductCard
            img={n_pump}
            title="E 直立型"
            body="用於罐體、池體及桶體等容積體的排空。適用包括各類具有磨蝕性、腐蝕性之介質並且粘度範圍從低到高的物料。根據客戶實體設計篩選不同的尺寸和設計，易於維護，運營成本低。直立式泵不會有其它方案軸封經常發生異常的問題。"
            specs={["流量範圍 : 30L/H ~ 300 M3/H", "最大持壓 : 12 bar"]}
            features={[
                "脈衝低，流量均勻",
                "泵浸入深度依據客戶要求設計定制",
                "高NPSH值(汽蝕餘量)",
            ]}
            client:load
        />
        <ProductCard
            img={spx_pump}
            title="CS 衛生級"
            body="適用於製藥、食品、日常化工和精細化工等衛生級要求高的行業，符合FDA，3-A和EHEDG等國際衛生級規範，安裝維護快速便利。"
            specs={["流量範圍 : 30L/H ~ 130 M3/H", "最大持壓 : 24 bar"]}
            features={[
                "高安全性產品: 定子和二級密封有FDA(美國食品和藥物管理局)認證",
                "符合美國3-A認證和EHEDG規範",
                "裝配和拆卸無需特殊工具",
                "優化的無死角設計，防止介質殘留",
                "泵體及內部部件經高表面光潔度處理，確保介質無殘留",
                "衛生級軸密封，多種機械密封可選",
                "可搭配吸入式配置CIP清洗和SIP蒸汽滅菌清洗設計",
            ]
            }
            client:load
        />
        <ProductCard
            img={sct2_pump}
            title="M 破碎機"
            body="用於破碎切割流體中的固體和纖維組分。介質經過破碎切割機處理後，系統運行安全性得以提高，系統設備使用壽命得以延長，降低維護成本。國外已經廣泛成功運用在市政及工業污水處理及各個行業製程。"
            specs="流量範圍 : 2 M3/H ~ 130 M3/H"
            features={[
                "透過轉速調整和刀盤設計達到不同破碎、切割效果",
                "刀盤總成更換簡單，維護方便",
                "處理量可用調節流量、輸出轉速和更換刀盤規格來控制",
                "以設計上技術達到低耗能",
            ]}
            client:load
        />
        <ProductCard
            img={sct1_pump}
            title="W 簡易泵"
            body="在很多行業應用，高效輸送各種不同粘度的甚至高含固率的流體。它是標準泵的簡化版，有別於傳統螺桿泵它的結構更緊湊，所以比較經濟。"
            specs={["流量範圍 : 10 M3/H", "最大持壓 : 4 bar"]}
            features={[
                "轉動部件只有一個萬向節",
                "結構簡潔，維護方便經濟高效",
                "模組式結構緊湊，驅動安裝法蘭式，節省空間",
            ]}
            client:load
        />
    </div>
</SectionLayout>
